{% extends 'mainapp/base.html' %}
{% load static %}

{% block header %}
<div class="hero-white">
	<div class="header clearfix">
		{% include "mainapp/includes/inc_main_menu.html" %}
	</div>
</div>
{% endblock header %}

{% block content %}
<div class="details">
	<div class="links clearfix">
		<ul class="links-menu">
			<li>
				<a href="{% url 'products:category' 0 %}"
					{% if request.resolver_match.kwargs.pk == '0' %}
						class="active"
					{% endif %}
				>
					все
				</a>
			</li>
			{% for link in categories %}
			<li>
				<a href="{% url 'products:category' link.pk %}"
					{% if request.resolver_match.kwargs.pk|add:'0' == link.pk %}
						class="active"
					{% endif %}
				>
					{{ link.name }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="details-products">
		<div class="details-slider">
			<div class="slider-product">
				<img src="{% static "img/slider1.jpg" %}">
			</div>
			<div class="slider-control">
				{% for cntrl in cntrls %}
					<div class="block">
						<a href="#"><img src="{% static cntrl.image %}" alt="">
							<div class="text"></div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="description">
			<h3 class="big-bold">Отличный стул</h3>
			<h3 class="red">горячее предложение</h3>
			<p class="price"> 2585.9 <span>руб</span></p>
			<a href="#" class="red-button">
				заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
			</a>
			<div class="description-text">
				<p>Расположитесь комфортно.</p> 
				<p>Отличное качество материалов
				позволит вам это.</p> 
				<p>Различные цвета</p>
				<p>высочайший уровень
				эргономики и прочность.</p>
			</div>
		</div>
	</div>

	<div class="related">
		<div class="title clearfix">
			<h2>Похожие продукты</h2>
			<a class="explore" href="#">показать все <img src="{% static "img/arrow.png" %}" alt=""></a>
		</div>
		<div class="tab-content">
			{% include "mainapp/includes/inc_products.html" %}
		</div>
	</div>
</div>
{% endblock content %}